<%= form_for(@tutor, :html => {:id => "form-tutor"}) do |f| %>
  <% if @tutor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tutor.errors.count, "error") %> prohibited this tutor from being saved:</h2>
      <ul>
      <% @tutor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6">
      <div class="field form-group">
        <%= f.label :first_name, 'Nombre(s)' %><br>
        <%= f.text_field :first_name, :class => 'form-control' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="field form-group">
        <%= f.label :last_name, 'Apellidos' %><br>
        <%= f.text_field :last_name, :class => 'form-control' %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="field form-group">
        <%= f.label :rfc, 'RFC' %><br>
        <%= f.text_field :rfc, :class => 'form-control' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="field form-group">
        <%= f.label :phone, 'Teléfono' %><br>
        <%= f.text_field :phone, :class => 'form-control masked' %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="field form-group">
        <%= f.label :cell_phone, 'Teléfono celular' %><br>
        <%= f.text_field :cell_phone, :class => 'form-control masked' %>
      </div>
    </div>
  </div>
  <%= hidden_field_tag :patient_id, @patient.id %>
  <!-- <input type="hidden" name="tutor[patient_id]" value="<%= @patient.id %>" /> -->
  
  <div class="actions">
    <%= f.submit 'Guardar cambios', :class => 'btn btn-success' %>
  </div>
<% end %>
