<p id="notice"><%= notice %></p>

<h1>Listing Tutors</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Occupation</th>
      <th>Rfc</th>
      <th>Phone</th>
      <th>Cell phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tutors.each do |tutor| %>
      <tr>
        <td><%= tutor.first_name %></td>
        <td><%= tutor.last_name %></td>
        <td><%= tutor.occupation %></td>
        <td><%= tutor.rfc %></td>
        <td><%= tutor.phone %></td>
        <td><%= tutor.cell_phone %></td>
        <td width="100px"><%= link_to 'Ver detalles', tutor %></td>
        <td><%= link_to 'Editar', edit_tutor_path(tutor) %></td>
        <td><%= link_to 'Eliminar', tutor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tutor', new_tutor_path %>
