<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @tutor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @tutor.last_name %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @tutor.occupation %>
</p>

<p>
  <strong>Rfc:</strong>
  <%= @tutor.rfc %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @tutor.phone %>
</p>

<p>
  <strong>Cell phone:</strong>
  <%= @tutor.cell_phone %>
</p>

<%= link_to 'Edit', edit_tutor_path(@tutor) %> |
<%= link_to 'Back', tutors_path %>
