<div id="content-search-patient" class="block-data hidden well">
  <form id="form-search-patient" method="GET" action="/patients/search_patient">
    <h4>Buscar paciente</h4>
    <div class="input-group">
      <input type="text" name="full_name" class="form-control" placeholder="Juan Carlos" autocomplete="off" />
      <span class="input-group-btn">
        <button class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
      </span>
    </div>
  </form>
  <br />
  <div>
    <h4> Resultado de la busqueda</h4>
    <div class="content-search-results">
      <i class="text-danger">Sin registros</i>
    </div>
  </div>
</div>

<%= form_for(@medical_consultation, :html => {:id => "form-medical-consultation"}) do |f| %>
  <% if @medical_consultation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@medical_consultation.errors.count, "error") %> prohibited this medical_consultation from being saved:</h2>
      <ul>
      <% @medical_consultation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="block-data" id="content-patient-data">
    <div class="well">
     
      <div class="row">
        <div class="col-md-6">
          <h4 class="mt5 mb0"> <em class="fa fa-male"></em>  Datos del paciente</h4>
        </div>
        <!-- <div class="col-md-6">
           <% if !@medical_consultation.id %>
          <div class="form-group">
            <a class="pull-right glyphicon glyphicon-search btn btn-primary btn-sm show-content" content-id="#content-search-patient"> <i class="fa fa-search"></i> Buscar paciente 
            </a>
          </div>
          <% end %>
        </div>-->
      </div>
      <hr />
      <div class="form-group">
        <% if @patient.new_record? %>
          <i class="text-danger form-patient-message" >Aún no se ha seleccionado el paciente</i>
        <% end %>
      </div>
      
      <div class="row">
        <div class="col-md-4">
          <div class="field form-group">
            <label>Nombre del paciente</label>
            <input type="text" name="input_patient_full_name" id="input-patient-full-name" value="<%= (@patient != nil) ? @patient.full_name : '' %>" class="form-control" readonly="readonly" />
            <%= f.hidden_field :patient_id, { :id => 'input-patient-id', :value => @patient.id } %>
          </div>
        </div>
        <!-- <div class="col-md-2">
          <div class="field form-group">
            <label>Fecha de nacimiento</label>
            <input type="text" value="<%= (@patient != nil) ? @patient.birth_date : '' %>" id="input-patient-birth-date" class="form-control" readonly="readonly" />
          </div>
        </div> -->
        <div class="col-md-4">
          <div class="field form-group">
            <label>Lugar de nacimiento</label>
            <input id="input-patient-birthplace" type="text" value="<%= (@patient != nil) ? @patient.birthplace : '' %>" class="form-control" readonly="readonly" />
          </div>
        </div>
        <div class="col-md-2">
          <div class="field form-group">
            <label>Tipo de paciente</label>
            <input id="input-patient-type" type="text" value="<%= (@patient != nil) ? @patient.type() : '' %>" class="form-control" readonly="readonly" />
          </div>
        </div>

        <div class="col-md-2">
          <div class="field form-group">
            <label>Edad</label>
            <input id="input-patient-age" type="text" value="<%= (@patient != nil) ? @patient.age() : '' %>" class="form-control" readonly="readonly" />
          </div>
        </div>

      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-9">
      <div>
        <div class="tab-content tab-content-style">
          <% if !@patient_medical_consultations.present? || controller.action_name == 'edit' %>
          <div role="tabpanel" class="tab-pane <%= (!@patient_medical_consultations.present? || controller.action_name == 'edit') ? "active" : ""  %>" id="tab_a_family_history">
            <div class="form-horizontal">
              <div class="row">
                <div class="col-md-12">
                  <div class="field form-group">
                    <%= f.label :endocrine, 'Endocrinas', :class => 'col-sm-3 control-label' %>
                    <div class="col-sm-3">
                    <%= f.select :endocrine, MedicalConsultation::ANSWER_YES_NO,{}, {:class => 'form-control'} %>
                    </div>
                    <div class="col-sm-6">
                      <%= f.text_field :endocrine_text, :class => 'form-control' %>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="field form-group">
                    <%= f.label :hypertension, 'Hipertensión', :class => 'col-sm-3 control-label' %>
                    <div class="col-sm-3">
                      <%= f.select :hypertension, MedicalConsultation::ANSWER_YES_NO,{}, {:class => 'form-control'} %>
                    </div>
                    <div class="col-sm-6">
                      <%= f.text_field :hypertension_text, :class => 'form-control' %>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <%= f.label :heart_disease, 'Cardiopatías',:class => 'col-sm-3 control-label' %>
                    <div class="col-sm-3">
                      <%= f.select :heart_disease, MedicalConsultation::ANSWER_YES_NO,{}, {:class => 'form-control'} %>
                    </div>
                    <div class="col-sm-6">
                      <%= f.text_field :heart_disease_text, :class => 'form-control' %>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <%= f.label :tuberculosis, 'Tuberculosis',:class => 'col-sm-3 control-label' %>
                    <div class="col-sm-3">
                    <%= f.select :tuberculosis, MedicalConsultation::ANSWER_YES_NO,{}, {:class => 'form-control'} %>
                    </div>
                    <div class="col-sm-6">
                      <%= f.text_field :tuberculosis_text, :class => 'form-control' %>
                    </div>
                  </div>
                </div>
                
                <div class="col-md-12">
                  <div class="field form-group">
                    <%= f.label :asthmas_and_allergies, 'Asma y Alérgias',:class => 'col-sm-3 control-label' %>
                    <div class="col-sm-3">
                      <%= f.select :asthmas_and_allergies, MedicalConsultation::ANSWER_YES_NO,{}, {:class => 'form-control'} %>
                    </div>
                    <div class="col-sm-6">
                      <%= f.text_field :asthmas_and_allergies_text, :class => 'form-control' %>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <%= f.label :tumor, 'Malformaciones congénitas',:class => 'col-sm-3 control-label' %>
                    <div class="col-sm-3">
                      <%= f.select :tumor, MedicalConsultation::ANSWER_YES_NO,{}, {:class => 'form-control'} %>
                    </div>
                    <div class="col-sm-6">
                      <%= f.text_field :tumor_text, :class => 'form-control' %>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <%= f.label :HIV, 'VIH',:class => 'col-sm-3 control-label' %>
                    <div class="col-sm-3">
                    <%= f.select :HIV, MedicalConsultation::ANSWER_YES_NO,{}, {:class => 'form-control'} %>
                    </div>
                    <div class="col-sm-6">
                      <%= f.text_field :HIV_text, :class => 'form-control' %>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="field form-group">
                    <%= f.label :other, 'Otros',:class => 'col-sm-3 control-label' %>
                    <div class="col-sm-9">
                      <%= f.text_field :other, :class => 'form-control' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tab_non_pathological_personal_history">
            <div>
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                  <a href="#NPPH-tab-prenatal" aria-controls="NPPH-tab-prenatal" role="tab" data-toggle="tab"> Prenatal</a>
                </li>
                <li role="presentation">
                  <a href="#NPPH-tab-natal" aria-controls="NPPH-tab-natal" role="tab" data-toggle="tab">
                    Natal
                  </a>
                </li>
                <li role="presentation">
                  <a href="#NPPH-tab-postnatal" aria-controls="NPPH-tab-postnatal" role="tab" data-toggle="tab">
                    Postnatal
                  </a>
                </li>
                <li role="presentation">
                  <a href="#NPPH-tab-vaccines" aria-controls="NPPH-tab-vaccines" role="tab" data-toggle="tab">
                    Vacunas
                  </a>
                </li>

                <li role="presentation">
                  <a href="#NPPH-tab-neurological" aria-controls="NPPH-tab-neurological" role="tab" data-toggle="tab">
                    Neurológico
                  </a>
                </li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="NPPH-tab-prenatal">
                  <div class="well">
                    <div class="field form-group">
                      <%= f.label :prenatal_maternal_age, 'Edad materna' %><br>
                      <%= f.text_field :prenatal_maternal_age, :class => 'form-control' %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :prenatal_number_of_deeds, 'No. de Gestas' %><br>
                      <%= f.text_field :prenatal_number_of_deeds, :class => 'form-control' %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :prenatal_product_deed_number, 'Producto de la Gesta No.' %><br>
                      <%= f.text_field :prenatal_product_deed_number, :class => 'form-control' %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :prenatal_living, 'Vivos' %><br>
                      <%= f.text_field :prenatal_living, :class => 'form-control' %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :prenatal_antenatal, 'Control prenatal' %><br>
                      <%= f.select :prenatal_antenatal, MedicalConsultation::ANSWER_YES_NO,{}, {:class => 'form-control'} %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :prenatal_complications, 'Complicaciones' %><br>
                      <%= f.select :prenatal_complications, MedicalConsultation::ANSWER_YES_NO,{}, {:class => 'form-control'} %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :prenatal_which_complications, '¿Cuales?' %><br>
                      <%= f.text_area :prenatal_which_complications, :class => 'form-control', rows: "6" %>
                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="NPPH-tab-natal">
                  <div class="well">
                    <div class="field form-group">
                      <%= f.label :natal_natal, 'Natal' %><br>
                      <%= f.select :natal_natal, MedicalConsultation::ANSWER_NATAL,{}, {:class => 'form-control'} %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :natal_weeks_gestation, 'Semana de Gestación' %><br>
                      <%= f.text_field :natal_weeks_gestation, :class => 'form-control' %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :natal_apgar, 'Apgar' %><br>
                      <%= f.text_field :natal_apgar, :class => 'form-control' %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :natal_weight, 'Peso' %><br>
                      <%= f.text_field :natal_weight, :class => 'form-control' %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :natal_size, 'Talla' %><br>
                      <%= f.text_field :natal_size, :class => 'form-control' %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :natal_head_circumference, 'Perímetro Cefálico' %><br>
                      <%= f.text_field :natal_head_circumference, :class => 'form-control' %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :natal_hospitable, 'Atención Hospitalaria' %><br>
                      <%= f.select :natal_hospitable, MedicalConsultation::ANSWER_NATAL_HOSPITABLE,{}, {:class => 'form-control'} %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :natal_complications, 'Complicaciones' %><br>
                      <%= f.text_area :natal_complications, :class => 'form-control', rows: "6" %>
                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="NPPH-tab-postnatal">
                  <div class="well">
                    <div class="field form-group">
                      <%= f.label :postnatal_feeding, 'Alimentación' %><br>
                      <%= f.select :postnatal_feeding, MedicalConsultation::ANSWER_POSTNATAL_FEEDING,{}, {:class => 'form-control'} %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :postnatal_supply_amount, 'Cantidad por toma' %><br>
                      <%= f.text_field :postnatal_supply_amount, :class => 'form-control' %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :postnatal_number, 'Numero' %><br>
                      <%= f.text_field :postnatal_number, :class => 'form-control' %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :postnatal_time, 'Tiempo' %><br>
                      <%= f.text_field :postnatal_time, :class => 'form-control' %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :postnatal_reason, 'Razon' %><br>
                      <%= f.text_field :postnatal_reason, :class => 'form-control' %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :postnatal_weaning_start, 'Inicio de Ablactación' %><br>
                      <%= f.text_field :postnatal_weaning_start, :class => 'form-control' %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :postnatal_weaning_start_type, 'Tipo' %><br>
                      <%= f.text_field :postnatal_weaning_start_type, :class => 'form-control' %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :postnatal_current_supply, 'Alimentación actual' %><br>
                      <%= f.text_field :postnatal_current_supply, :class => 'form-control' %>
                    </div>
                  </div>

                </div>
                <div role="tabpanel" class="tab-pane" id="NPPH-tab-vaccines">
                  <div class="well">
                    <h4>Vacunas Postnatal</h4>
                    <div class="field form-group">
                      <%= f.label :postnatal_vaccines_bcg, 'B.C.G' %><br>
                      <%= f.text_field :postnatal_vaccines_bcg, :class => 'form-control' %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :postnatal_polio, 'Polio' %><br>
                      <%= f.text_field :postnatal_polio, :class => 'form-control' %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :postnatal_dpt, 'DPT' %><br>
                      <%= f.text_field :postnatal_dpt, :class => 'form-control' %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :postnatal_hib, 'HiB' %><br>
                      <%= f.text_field :postnatal_hib, :class => 'form-control' %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :postnatal_hepatitis_b, 'Hepatitis B' %><br>
                      <%= f.text_field :postnatal_hepatitis_b, :class => 'form-control' %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :postnatal_mmr, 'MMR' %><br>
                      <%= f.text_field :postnatal_mmr, :class => 'form-control' %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :postnatal_hepatitis_a, 'Hepatitis A' %><br>
                      <%= f.text_field :postnatal_hepatitis_a, :class => 'form-control' %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :postnatal_antivaricela, 'Antivaricela' %><br>
                      <%= f.text_field :postnatal_antivaricela, :class => 'form-control' %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :postnatal_pneumococcus, 'Neumococo' %><br>
                      <%= f.text_field :postnatal_pneumococcus, :class => 'form-control' %>
                    </div>
                    <!--<div class="field form-group">
                      <%= f.label :postnatal_menarche, 'Menarca' %><br>
                      <%= f.text_field :postnatal_menarche, :class => 'form-control' %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :postnatal_rhythm, 'Ritmo' %><br>
                      <%= f.text_field :postnatal_rhythm, :class => 'form-control' %>
                    </div>-->
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="NPPH-tab-neurological">
                  
                  <div class="well">
                    <div class="field form-group">
                      <%= f.label :neurological_stare, 'Fijo la mirada' %><br>
                      <%= f.text_field :neurological_stare, :class => 'form-control' %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :neurological_sat_dawn, 'Se sento' %><br>
                      <%= f.text_field :neurological_sat_dawn, :class => 'form-control' %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :neurological_rolled, 'Se rodo' %><br>
                      <%= f.text_field :neurological_rolled, :class => 'form-control' %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :neurological_path, 'Camino' %><br>
                      <%= f.text_field :neurological_path, :class => 'form-control' %>
                    </div>
                    <div class="field form-group">
                      <%= f.label :neurological_monosyllables, 'Monosilabos' %><br>
                      <%= f.text_field :neurological_monosyllables, :class => 'form-control' %>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tab_medical_history">
            <div class="row">
              <div class="field col-md-6 form-group">
                <%= f.label :smoking, 'Tabaquismo' %><br>
                <%= f.text_field :smoking, :class => 'form-control' %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :alcoholism, 'Alcoholismo' %><br>
                <%= f.text_field :alcoholism, :class => 'form-control' %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :drug_addiction, 'Drogadicción' %><br>
                <%= f.text_field :drug_addiction, :class => 'form-control' %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :seizures, 'Convulsiones' %><br>
                <%= f.text_field :seizures, :class => 'form-control' %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :asthma, 'Asma' %><br>
                <%= f.text_field :asthma, :class => 'form-control' %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :allergies, 'Alergias' %><br>
                <%= f.text_field :allergies, :class => 'form-control' %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :surgical, 'Quirúrgicos' %><br>
                <%= f.text_field :surgical, :class => 'form-control' %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :transfusions, 'Transfusiones' %><br>
                <%= f.text_field :transfusions, :class => 'form-control' %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :hospitalizations, 'Hospitalizaciones' %><br>
                <%= f.text_field :hospitalizations, :class => 'form-control' %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :measles, 'Sarampion' %><br>
                <%= f.text_field :measles, :class => 'form-control' %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :rubella, 'Rubéola' %><br>
                <%= f.text_field :rubella, :class => 'form-control' %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :parotitis, 'Parotiditis' %><br>
                <%= f.text_field :parotitis, :class => 'form-control' %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :chickenpox, 'Varicela' %><br>
                <%= f.text_field :chickenpox, :class => 'form-control' %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :congenital_malformations, 'Malformaciones Congénitas' %><br>
                <%= f.text_field :congenital_malformations, :class => 'form-control' %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :medical_history_comments, 'Comentarios' %><br>
                <%= f.text_area :medical_history_comments, :class => 'form-control' %>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tab_interrogation_apparatus_and_systems">
            <div class="row">
              <div class="field col-md-6 form-group">
                <%= f.label :neurological_system, 'Sistema Neurológico' %><br>
                <%= f.text_area :neurological_system, :class => 'form-control', rows: "4" %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :cardiovascular_system, 'Aparato Cardiovascular' %><br>
                <%= f.text_area :cardiovascular_system, :class => 'form-control', rows: "4" %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :respiratory_system, 'Aparato Respiratorio' %><br>
                <%= f.text_area :respiratory_system, :class => 'form-control', rows: "4" %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :digestive_apparatus, 'Aparato Digestivo' %><br>
                <%= f.text_area :digestive_apparatus, :class => 'form-control', rows: "4" %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :genitourinary_system, 'Aparato Genito-urinario' %><br>
                <%= f.text_area :genitourinary_system, :class => 'form-control', rows: "4" %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :musculoskeletal, 'Osteo Muscular' %><br>
                <%= f.text_area :musculoskeletal, :class => 'form-control', rows: "4" %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :auditory, 'Auditivo' %><br>
                <%= f.text_area :auditory, :class => 'form-control', rows: "4" %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :visual, 'Visual' %><br>
                <%= f.text_area :visual, :class => 'form-control', rows: "4" %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :systems_and_apparatus_comments, 'Comentarios' %><br>
                <%= f.text_area :systems_and_apparatus_comments, :class => 'form-control', rows: "4" %>
              </div>
            </div>
          </div>
          <% end %>
          <div role="tabpanel" class="tab-pane <%= (!@patient_medical_consultations.present? || controller.action_name == 'edit') ? "" : "active"  %>" id="tab_physical_exploration">
            <div class="row">
              <div class="field col-md-6 form-group">
                <%= f.label :physical_exploration_weight, 'Peso' %><br>
                <%= f.text_field :physical_exploration_weight, :class => 'form-control' %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :physical_exploration_size, 'Talla' %><br>
                <%= f.text_field :physical_exploration_size, :class => 'form-control' %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :physical_exploration_per_cef, 'Per. Cef.' %><br>
                <%= f.text_field :physical_exploration_per_cef, :class => 'form-control' %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :physical_exploration_temp, 'Temp.' %><br>
                <%= f.text_field :physical_exploration_temp, :class => 'form-control' %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :physical_exploration_fc, 'F.C.' %><br>
                <%= f.text_field :physical_exploration_fc, :class => 'form-control' %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :physical_exploration_fr, 'F.R.' %><br>
                <%= f.text_field :physical_exploration_fr, :class => 'form-control' %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :physical_exploration_ta, 'T/A' %><br>
                <%= f.text_field :physical_exploration_ta, :class => 'form-control' %>
              </div>
              <% if !@patient_medical_consultations.present? || controller.action_name == 'edit' %>
              <div class="field col-md-12 form-group">
                <%= f.label :physical_exploration_general_inspection, 'Inspección General' %><br>
                <%= f.text_area :physical_exploration_general_inspection, :class => 'form-control', rows: "4" %>
              </div>
              <% end %>

              <% if @patient_medical_consultations.present? %>
                <div class="field col-md-12 form-group">
                  <%= f.label :interrogation, 'Interrogatorio' %><br>
                  <%= f.text_area :interrogation, :class => 'form-control summernote', rows: "4" %>
                </div>
                <div class="field col-md-12 form-group">
                  <%= f.label :diagnosis, 'Diagnóstico' %><br>
                  <%= f.text_area :diagnosis, :class => 'form-control summernote', rows: "4" %>
                </div>
                <div class="field col-md-12 form-group">
                  <%= f.label :treatment, 'Tratamiento' %>
                  <br>
                  <%= f.text_area :treatment, :class => 'form-control summernote', rows: "4" %>
                </div>
              <% end %>


              <% if !@patient_medical_consultations.present? || controller.action_name == 'edit' %>
              <div class="field col-md-6 form-group">
                <%= f.label :physical_exploration_head, 'Cabeza' %><br>
                <%= f.text_area :physical_exploration_head, :class => 'form-control', rows: "4" %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :physical_exploration_neck, 'Cuello' %><br>
                <%= f.text_area :physical_exploration_neck, :class => 'form-control', rows: "4" %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :physical_exploration_chest, 'Tórax' %><br>
                <%= f.text_area :physical_exploration_chest, :class => 'form-control', rows: "4" %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :physical_exploration_abdomen, 'Abdomen' %><br>
                <%= f.text_area :physical_exploration_abdomen, :class => 'form-control', rows: "4" %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :physical_exploration_genitals, 'Genitales' %><br>
                <%= f.text_area :physical_exploration_genitals, :class => 'form-control', rows: "4" %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :physical_exploration_upper_extremities, 'Extremidades Superiores' %><br>
                <%= f.text_area :physical_exploration_upper_extremities, :class => 'form-control', rows: "4" %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :physical_exploration_lower_extremities, 'Extremidades Inferiores' %><br>
                <%= f.text_area :physical_exploration_lower_extremities, :class => 'form-control', rows: "4" %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :physical_exploration_skin, 'Piel' %><br>
                <%= f.text_area :physical_exploration_skin, :class => 'form-control', rows: "4" %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :physical_exploration_comments, 'Comentarios' %><br>
                <%= f.text_area :physical_exploration_comments, :class => 'form-control', rows: "4" %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :physical_exploration_diagnosis, 'Diagnóstico' %><br>
                <%= f.text_area :physical_exploration_diagnosis, :class => 'form-control', rows: "4" %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :physical_exploration_studies_requested, 'Estudios Solicitados' %><br>
                <%= f.text_area :physical_exploration_studies_requested, :class => 'form-control', rows: "4" %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :physical_exploration_treatment, 'Tratamiento' %><br>
                <%= f.text_area :physical_exploration_treatment, :class => 'form-control', rows: "4" %>
              </div>
              <div class="field col-md-6 form-group">
                <%= f.label :physical_exploration_prognostic, 'Pronóstico' %><br>
                <%= f.text_area :physical_exploration_prognostic, :class => 'form-control', rows: "4" %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="block-data">
        <div class="actions">
          <button class="btn btn-success btn-block">
            <span class="fa fa-floppy-o"></span> Guardar cambios
          </button>
        </div>
      </div>
      <ul class="nav nav-tabs nav-tabs-style nav-tabs-display-block" role="tablist">
        <% if !@patient_medical_consultations.present? || controller.action_name == 'edit' %>
        <li role="presentation" class="<%= (!@patient_medical_consultations.present? || controller.action_name == 'edit') ? "active" : ""  %>">
          <a href="#tab_a_family_history" aria-controls="tab_a_family_history" role="tab" data-toggle="tab">
            ANT. HEREDO-FAMILIARES
          </a>
        </li>
        <li role="presentation">
          <a href="#tab_non_pathological_personal_history" aria-controls="tab_non_pathological_personal_history" role="tab" data-toggle="tab">
            ANT. PERSONALES NO PATOLOGICOS
          </a>
        </li>
        <li role="presentation">
          <a href="#tab_medical_history" aria-controls="tab_medical_history" role="tab" data-toggle="tab">
            ANT. PERSONALES PATOLOGICOS
          </a>
        </li>
        <li role="presentation">
          <a href="#tab_interrogation_apparatus_and_systems" aria-controls="tab_interrogation_apparatus_and_systems" role="tab" data-toggle="tab">
            INTERROGATORIO POR APARATOS Y SISTEMAS
          </a>
        </li>
        <% end %>
        <li role="presentation" class="<%= (!@patient_medical_consultations.present? || controller.action_name == 'edit') ? "" : "active"  %>">
          <a href="#tab_physical_exploration" aria-controls="tab_physical_exploration" role="tab" data-toggle="tab">
            EXPLORACION FISICA
          </a>
        </li>
      </ul>
      <div>
        <% if @patient_medical_consultations.present? %>
          <div class="well">
            <h4>Otras consultas medicas</h4> <hr />
            <% @patient_medical_consultations.each do |medical_consultation| %>
              <div>
                <em class="fa fa-stethoscope"></em> 
                <% if @medical_consultation.id == medical_consultation.id  %>
                  <%= medical_consultation.updated_at.strftime("%d/%m/%Y | %H:%M %p") %>
                <% else %>
                  <%= link_to medical_consultation_path(medical_consultation) do %>
                    <%= medical_consultation.updated_at.strftime("%d/%m/%Y | %H:%M %p") %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/vendor/summernote-develop/dist/summernote.min.js"></script>
  <script type="text/javascript" src="/vendor/summernote-develop/lang/summernote-es-ES.js"></script>
  <link rel="stylesheet" type="text/css" href="/vendor/summernote-develop/dist/summernote.css">
  <script type="text/javascript" src="/assets/javascripts/summernote.js"></script>

<% end %>
