<div class="page-toolbar">
    <div class="page-toolbar-block">
        <h3 class="page-toolbar-title">Nueva consulta medica</h3>
        <div class="page-toolbar-subtitle">Agregar nuevo consulta medica</div>
    </div>
    <div class="page-toolbar-block pull-right">
        <div class="widget-info">
          <div class="btn-group">
            <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to ' Regresar', medical_consultations_path, :class => 'fa fa-reply'  %>
            </li>
          </ul>
          </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/">Inicio</a></li>
      <li class=""> <a href="/medical_consultations">Consultas medicas</a></li>
      <li class="active">Nuevo registro</li>
    </ol>
  </div>
</div>
<div class="row">
  	<div class="col-md-12">
    	<%= render 'form' %>
   	</div>
</div>