<div class="page-toolbar">
  <div class="page-toolbar-block">
      <h3 class="page-toolbar-title">Consulta medica</h3>
      <div class="page-toolbar-subtitle">Detalles del paciente</div>
  </div>
  <div class="page-toolbar-block pull-right">
      <div class="widget-info">
        <div class="btn-group">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to ' Editar', edit_medical_consultation_path(@medical_consultation), :class => 'bg-gray-light fa fa-pencil'   %>
            </li>
            <li>
              <%= link_to ' Regresar', medical_consultations_path , :class => 'fa fa-reply'%>
            </li>
          </ul>
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <ol class="breadcrumb">
      <li><a href="/">Inicio</a></li>
      <li class=""> <a href="/medical_consultations">Consultas medicas</a></li>
      <li class="active">Detalles del registro</li>
    </ol>
  </div>
  <div class="col-md-6" align="right">
    <% if @medical_consultation.patient %>
      <ol class="breadcrumb">
        <li>
          <% if @medical_consultation.patient %>
            <%= link_to patient_path(@medical_consultation.patient) do %>
            <strong>Paciente:</strong> 
              <%= @medical_consultation.patient.full_name  %> <b>|</b> 
              <%= @medical_consultation.patient.gender %> <b>|</b> 
              <% if @medical_consultation.patient.patient_type %>
                <%= @medical_consultation.patient.patient_type.name %>
              <% end %><b>|</b> 
              <% if @medical_consultation.patient.birth_date %>
                <%= @medical_consultation.patient.age %>
              <% end %>
            <% end %>
          <% end %>
        </li>
      </ol>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="block-data">
      <div class="row">
        <div class="col-md-9">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab_a_family_history">
              <div class="well">
                <div class="row">
                  <div class="col-md-12">
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <th width="200px">
                            <strong>Endocrine:</strong>
                          </th>
                          <td width="50px">
                            <%= @medical_consultation.endocrine %>
                          </td>
                          <td>
                            <%= @medical_consultation.endocrine_text %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <strong>Hipertensión:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.hypertension %>
                          </td>
                          <td>
                            <%= @medical_consultation.hypertension_text %>
                          </td>
                        </tr>

                        <tr>
                          <th>
                            <strong>Heart disease:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.heart_disease %>
                          </td>
                          <td>
                            <%= @medical_consultation.heart_disease_text %>
                          </td>
                        </tr>

                        <tr>
                          <th>
                            <strong>Tuberculosis:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.tuberculosis %>
                          </td>
                          <td>
                            <%= @medical_consultation.tuberculosis_text %>
                          </td>
                        </tr>
                        <tr>
                          <th width="200px">
                            <strong>Asthmas and allergies:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.asthmas_and_allergies %>
                          </td>
                          <td>
                            <%= @medical_consultation.asthmas_and_allergies_text %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <strong>Tumor:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.tumor %>
                          </td>
                          <td>
                            <%= @medical_consultation.tumor_text %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <strong>VIH:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.HIV %>
                          </td>
                          <td>
                            <%= @medical_consultation.HIV_text %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <strong>Otros:</strong>
                          </th>
                          <td colspan="2">
                            <%= @medical_consultation.other %>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab_non_pathological_personal_history">

              <div>
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active">
                    <a href="#NPPH-tab-prenatal" aria-controls="NPPH-tab-prenatal" role="tab" data-toggle="tab">
                      Prenatal
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="#NPPH-tab-natal" aria-controls="NPPH-tab-natal" role="tab" data-toggle="tab">
                      Natal
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="#NPPH-tab-postnatal" aria-controls="NPPH-tab-postnatal" role="tab" data-toggle="tab">
                      Postnatal
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="#NPPH-tab-vaccines" aria-controls="NPPH-tab-vaccines" role="tab" data-toggle="tab">
                      Vacunas
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="#NPPH-tab-neurological" aria-controls="NPPH-tab-neurological" role="tab" data-toggle="tab">
                      Neurológico
                    </a>
                  </li>
                </ul>
                <div class="tab-content well">
                  <div role="tabpanel" class="tab-pane active" id="NPPH-tab-prenatal">
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <th width="200px">
                            <strong>Edad materna:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.prenatal_maternal_age %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <strong>No. de Gestas:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.prenatal_number_of_deeds %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <strong>Producto de la Gesta No.:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.prenatal_product_deed_number %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <strong>Vivos:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.prenatal_living %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <strong>Control prenatal:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.prenatal_antenatal %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <strong>Complicaciones:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.prenatal_complications %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <strong>¿Cuales?:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.prenatal_which_complications %>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="NPPH-tab-natal">
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <th width="200px">
                            <strong>Natal:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.natal_natal %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <strong>Semana de Gestación:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.natal_weeks_gestation %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <strong>Apgar:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.natal_apgar %>
                          </td>
                        </tr>  
                        <tr>
                          <th>
                             <strong>Peso:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.natal_weight %>
                          </td>
                        </tr>  
                        <tr>
                          <th>
                            <strong>Talla:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.natal_size %>
                          </td>
                        </tr>  

                        <tr>
                          <th>
                            <strong>Perímetro Cefálico:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.natal_head_circumference %>
                          </td>
                        </tr>  

                        <tr>
                          <th>
                            <strong>Atención Hospitalaria:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.natal_hospitable %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <strong>Complicaciones:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.natal_complications %>
                          </td>
                        </tr>                      
                      </tbody>
                    </table>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="NPPH-tab-postnatal">
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <th width="200px">
                            <strong>Alimentación:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.postnatal_feeding %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <strong>Cantidad por toma:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.postnatal_supply_amount %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <strong>Numero:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.postnatal_number %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <strong>Tiempo:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.postnatal_time %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <strong>Razon:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.postnatal_reason %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <strong>Inicio de Ablactación:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.postnatal_weaning_start %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <strong>Tipo:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.postnatal_weaning_start_type %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <strong>Alimentación actual:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.postnatal_current_supply %>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="NPPH-tab-vaccines">
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <th width="200px">
                            <strong>B.C.G:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.postnatal_vaccines_bcg %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <strong>Polio:</strong>
                          </th>
                          <td>
                             <%= @medical_consultation.postnatal_polio %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <strong>DPT:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.postnatal_dpt %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <strong>HiB:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.postnatal_hib %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                             <strong>Hepatitis B:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.postnatal_hepatitis_b %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                             <strong>MMR:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.postnatal_mmr %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <strong>Hepatitis A:</strong>
                          </th>
                          <td>
                             <%= @medical_consultation.postnatal_hepatitis_a %>
                          </td>
                        </tr>
                         <tr>
                          <th>
                            <strong>Antivaricela:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.postnatal_antivaricela %>
                          </td>
                        </tr>
                         <tr>
                          <th>
                            <strong>Neumococo:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.postnatal_pneumococcus %>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <!--<p>
                      <strong>Postnatal menarche:</strong>
                      <%= @medical_consultation.postnatal_menarche %>
                    </p>

                    <p>
                      <strong>Postnatal rhythm:</strong>
                      <%= @medical_consultation.postnatal_rhythm %>
                    </p>-->
                  </div>
                  <div role="tabpanel" class="tab-pane" id="NPPH-tab-neurological">
                    <table class="table table-bordered">
                      <tbody>
                        <tr>
                          <th width="200px">
                            <strong>Fijo la mirada:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.neurological_stare %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <strong>Se sento:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.neurological_sat_dawn %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <strong>Se rodo:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.neurological_rolled %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <strong>Camino:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.neurological_path %>
                          </td>
                        </tr>
                        <tr>
                          <th>
                            <strong>Monosilabos:</strong>
                          </th>
                          <td>
                            <%= @medical_consultation.neurological_monosyllables %>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane well" id="tab_medical_history">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th width="200px">
                      <strong>Tabaquismo:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.smoking %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Alcoholismo:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.alcoholism %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Drogadicción:</strong>
                    </th>
                    <td>
                       <%= @medical_consultation.drug_addiction %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Convulsiones:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.seizures %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Asma:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.asthma %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Alergias:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.allergies %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Quirúrgicos:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.surgical %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                       <strong>Transfusiones:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.transfusions %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Hospitalizaciones:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.hospitalizations %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Sarampion:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.measles %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Rubéola:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.rubella %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Parotiditis:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.parotitis %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Varicela:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.chickenpox %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Malformaciones Congénitas:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.congenital_malformations %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Comentarios:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.medical_history_comments %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div role="tabpanel" class="tab-pane well" id="tab_interrogation_apparatus_and_systems">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th width="200px">
                      <strong>Sistema Neurológico:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.neurological_system %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Aparato Cardiovascular:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.cardiovascular_system %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Aparato Respiratorio:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.respiratory_system %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Aparato Digestivo:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.digestive_apparatus %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Aparato Genito-urinario:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.genitourinary_system %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Osteo Muscular:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.musculoskeletal %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Auditivo:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.auditory %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Visual:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.visual %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Comentarios:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.systems_and_apparatus_comments %>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
            <div role="tabpanel" class="tab-pane well" id="tab_physical_exploration">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th width="200px">
                      <strong>Peso:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.physical_exploration_weight %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Talla:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.physical_exploration_size %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Per. Cef.:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.physical_exploration_per_cef %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                       <strong>Temp.:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.physical_exploration_temp %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>F.C.:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.physical_exploration_fc %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>F.R.:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.physical_exploration_fr %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>T/A:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.physical_exploration_ta %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Inspección General:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.physical_exploration_general_inspection %>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th width="200px">
                      <strong>Interrogatorio:</strong>
                    </th>
                    <td>
                      <%= raw(@medical_consultation.interrogation) %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Diagnóstico:</strong>
                    </th>
                    <td>
                      <%= raw(@medical_consultation.diagnosis) %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Tratamiento:</strong>
                    </th>
                    <td>
                      <%= raw(@medical_consultation.treatment) %>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th width="200px">
                      <strong>Cabeza:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.physical_exploration_head %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Cuello:</strong>
                    </th>
                    <td>
                       <%= @medical_consultation.physical_exploration_neck %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Tórax:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.physical_exploration_chest %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Abdomen:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.physical_exploration_abdomen %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Genitales:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.physical_exploration_genitals %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Extremidades Superiores:</strong>
                    </th>
                    <td>
                       <%= @medical_consultation.physical_exploration_upper_extremities %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Extremidades Inferiores:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.physical_exploration_lower_extremities %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Piel:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.physical_exploration_skin %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Comentarios:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.physical_exploration_comments %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Diagnóstico:</strong>
                    </th>
                    <td>
                       <%= @medical_consultation.physical_exploration_diagnosis %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Estudios Solicitados:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.physical_exploration_studies_requested %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Tratamiento:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.physical_exploration_treatment %>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <strong>Pronóstico:</strong>
                    </th>
                    <td>
                      <%= @medical_consultation.physical_exploration_prognostic %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <ul class="nav nav-tabs nav-tabs-display-block" role="tablist">
            <li role="presentation" class="active">
              <a href="#tab_a_family_history" aria-controls="tab_a_family_history" role="tab" data-toggle="tab">
                ANT. HEREDO-FAMILIARES
              </a>
            </li>
            <li role="presentation">
              <a href="#tab_non_pathological_personal_history" aria-controls="tab_non_pathological_personal_history" role="tab" data-toggle="tab">           
                ANT. PERSONALES NO PATOLOGICOS
              </a>
            </li>
            <li role="presentation">
              <a href="#tab_medical_history" aria-controls="tab_medical_history" role="tab" data-toggle="tab">
                ANT. PERSONALES PATOLOGICOS
              </a>
            </li>
            <li role="presentation">
              <a href="#tab_interrogation_apparatus_and_systems" aria-controls="tab_interrogation_apparatus_and_systems" role="tab" data-toggle="tab">
                INTERROGATORIO POR APARATOS Y SISTEMAS
              </a>
            </li>
            <li role="presentation">
              <a href="#tab_physical_exploration" aria-controls="tab_physical_exploration" role="tab" data-toggle="tab">
                EXPLORACION FISICA
              </a>
            </li>
          </ul>
          
          <% if @medical_consultations.present? %>
            <hr />
            <div class="well">
              <h4>Consultas medicas</h4> <hr />
              <% @medical_consultations.each do |medical_consultation| %>
                <div>
                  <em class="fa fa-stethoscope"></em> 
                  <% if @medical_consultation.id == medical_consultation.id  %>
                    <%= medical_consultation.updated_at.strftime("%d/%m/%Y | %H:%M %p") %>
                  <% else %>
                    <%= link_to medical_consultation_path(medical_consultation) do %>
                      <%= medical_consultation.updated_at.strftime("%d/%m/%Y | %H:%M %p") %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
