<%= form_for(@user, :html => {:multipart => true}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> 
        prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-headin"></div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <div class="field">
                <div class="form-group">
                <%= f.label :first_name, 'Nombre' %>
                <%= f.text_field :first_name, :class => 'form-control' %>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <div class="form-group">
                <%= f.label :last_name, 'Apellidos' %>
                <%= f.text_field :last_name, :class => 'form-control' %>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <div class="form-group">
                <%= f.label :email, 'Correo electrónico' %>
                <%= f.text_field :email, :class => 'form-control' %>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <div class="form-group">
                <%= f.label :password, 'Contraseña' %>
                <%= f.password_field :password, :class => 'form-control' %>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="field">
                <div class="form-group">
                <%= f.label :password_confirmation, 'Confirmar contraseña' %>
                <%= f.password_field :password_confirmation, :class => 'form-control' %>
                </div>
              </div>
            </div>
          </div>
          <div class="actions" align="right">
            <%= f.submit 'Guardar Cambios', :class => 'btn btn-success' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<% end %>
