<div class="page-header subnav">
  <h3>Usuarios</h3>
</div>
<div class="form-group" align="right">
  <div class="btn-group">
    <%= link_to 'Nuevo usuario', new_user_path, :class => 'btn btn-success icon-plus-sign icon-white' %>
  </div>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th width="150px"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="show-data" model="users" id="<%= user.id %>">
        <td><%= user.first_name %> <%= user.last_name %></td>
        <td><%= user.email %></td>
        <td>
          <div class="btn-group">
            <a href="<%= edit_user_path(user) %>" class="btn">Ver detalles</a>
            <%= form_tag user_path(user), :class => 'form-delete-data', :method => :delete do %>
              <a class="delete-data pointer text-danger"> Eliminar </a>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @users.empty? %>
  Aún no hay datos registrados
<% else %>
  <%= will_paginate @users %>
<% end %>