<div class="page-toolbar">
  <div class="page-toolbar-block">
    <h3 class="page-toolbar-title">Perfil</h3>
    <div class="page-toolbar-subtitle">Actualiza tu información</div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
  	<div class="block-data">
		  <%= render 'form' %>
	  </div>
	</div>
</div>