<div class="page-toolbar">
  <div class="page-toolbar-block">
    <h3 class="page-toolbar-title">Inicio del sistema</h3>
    <div class="page-toolbar-subtitle">Total de registros en el sistema</div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="panel widget bg-primary">
        <div class="row row-table">
          <div class="col-xs-4 text-center bg-primary-dark pv-lg">
            <em class="fa fa-male fa-big"></em>
          </div>
          <div class="col-xs-7 pv-lg">
            <div class="h2 m0"> <%= @patient_count %></div>
            <div class="text-uppercase">Pacientes</div>
          </div>
        </div>
      </div>
  </div>
  <div class="col-md-4">
    <div class="panel widget bg-green">
        <div class="row row-table">
          <div class="col-xs-4 text-center bg-green-dark pv-lg">
            <em class="fa fa-stethoscope fa-big"></em>
          </div>
          <div class="col-xs-7 pv-lg">
            <div class="h2 m0"><%= @medical_consultation_count %></div>
            <div class="text-uppercase">Consultas medicas</div>
          </div>
        </div>
      </div>
  </div>
  <div class="col-md-4">
    <div class="panel widget bg-warning">
        <div class="row row-table">
          <div class="col-xs-4 text-center bg-warning-dark pv-lg">
            <em class="fa fa-users fa-big"></em>
          </div>
          <div class="col-xs-7 pv-lg">
            <div class="h2 m0"><%= @patient_types_count %></div>
            <div class="text-uppercase">Tipos de usuarios</div>
          </div>
        </div>
      </div>
  </div>
</div>
