<%= form_for(@patient_type) do |f| %>
  <% if @patient_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient_type.errors.count, "error") %> prohibited this patient_type from being saved:</h2>

      <ul>
      <% @patient_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name, 'Nombre' %><br>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="actions">
    <button class="btn btn-success">
      <span class="fa fa-floppy-o"></span> Guardar cambios
    </button>
  </div>
<% end %>
