<div class="page-toolbar">
  <div class="page-toolbar-block">
      <h3 class="page-toolbar-title">Tipos de pacientes</h3>
      <div class="page-toolbar-subtitle">Registros de tipos de pacientes</div>
  </div>
  
  <div class="page-toolbar-block pull-right">
      <div class="widget-info">
        <div class="btn-group">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to ' Nuevo tipo de paciente ', new_patient_type_path, :class => 'bg-gray-light  fa fa-plus text-success' %>
            </li>
          </ul>
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="#">Inicio</a></li>
      <li><a href="/patients">Pacientes</a></li>
      <li class="active">Tipos de pacientes</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="block-data table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @patient_types.each do |patient_type| %>
            <tr>
              <td><%= patient_type.name %></td>
              <!--<td width="100px"><%= link_to 'Ver detalles', patient_type %></td>-->
              <td width="50px"><%= link_to 'Editar', edit_patient_type_path(patient_type) %></td>
              <td width="50px">

                <%= form_tag patient_type_path(patient_type), :class => 'form-delete-data', :method => :delete do %>
                  <a class="delete-data pointer text-danger"> Eliminar </a>
                <% end %>

              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if @patient_types.empty? %>
        Aún no hay datos registrados
      <% else %>
        <%= will_paginate @patient_types %>
      <% end %>
    </div>
  </div>
</div>