<div class="page-toolbar">
  	<div class="page-toolbar-block">
    	<h3 class="page-toolbar-title">Tipo de paciente: <b> <%= @patient_type.name %></b></h3>
      	<div class="page-toolbar-subtitle">Registro de tipo de paciente</div>
  	</div>
  
  	<div class="page-toolbar-block pull-right">
      	<div class="widget-info">
        	<div class="btn-group">
          		<ul class="nav navbar-nav navbar-right">
          			<li>
          				<%= link_to ' Editar', edit_patient_type_path(@patient_type), :class => 'bg-gray-light fa fa-pencil' %>
          			</li>
            		<li>
              		<%= link_to ' Regresar', patient_types_path, :class => 'fa fa-reply' %>
            		</li>
          		</ul>
        	</div>
      	</div>
  	</div>
</div>
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="#">Inicio</a></li>
      <li><a href="/patients">Pacientes</a></li>
      <li><a href="/patient_types">Tipo de pacientes</a></li>
      <li class="active">Detalles del registro</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="block-data">
    	<div class="table-responsive">
	      <table class="table table-bordered">
	        <tbody>
	          <tr>
	            <th width="200px">
	              Nombre:
	             </th>
	            <td>
	              <%= @patient_type.name %>
	            </td>
	          </tr>
	        </tbody>
	      </table>
  		</div>
 		</div>
	</div>
</div>