<%= form_for(@patient, :html => {:id => "form-patient"}) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>
      <ul>
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-9">
      <div>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#tab_data_patient" aria-controls="tab_data_patient" role="tab" data-toggle="tab">
          <em class="fa fa-male"></em> Datos del paciente</a>
        </li>
        <li role="presentation">
          <a href="#tab_address_patient" aria-controls="tab_address_patient" role="tab" data-toggle="tab"> <em class="fa fa-map"></em> Dirección del paciente</a>
        </li>
        <li role="presentation">
          <a href="#tab_fiscal_address_patient" aria-controls="tab_fiscal_address_patient" role="tab" data-toggle="tab"> <em class="fa fa-map-o"></em> Dirección fiscal</a>
        </li>
        <% if @patient.id %>
        <li role="presentation">
          <a href="#tab_tutors_patient" aria-controls="tab_tutors_patient" role="tab" data-toggle="tab">
          <em class="fa fa-user"></em> Tutores </a>
        </li>
        <% end %>
        <% if @patient.id %>
        <li role="presentation">
          <a href="#tab_medical_consultation_patient" aria-controls="tab_medical_consultation_patient" role="tab" data-toggle="tab">
          <em class="fa fa-user"></em> Consultas medicas </a>
        </li>
        <% end %>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab_data_patient">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th width="200px">
                  <%= f.label :first_name, 'Nombre(s)' %>
                </th>
                <td>
                  <%= f.text_field :first_name, :class => 'form-control' %>
                </td>
              </tr>
              <tr>
                <th>
                  <%= f.label :last_name, 'Apellidos' %>
                </th>
                <td>
                  <%= f.text_field :last_name, :class => 'form-control' %>
                </td>
              </tr>
              <tr>
                <th>
                  <%= f.label :gender, 'Genero' %>
                </th>
                <td>
                  <%= f.select :gender, Patient::GENDER_TYPES, {}, { :class => 'form-control' } %>
                </td>
              </tr>
              <tr>
                <th>
                  <%= f.label :birth_date, 'Fecha de nacimiento' %>
                </th>
                <td>
                  <%= f.date_select :birth_date, :start_year => 1900, :end_year => Date.today.year,  :html => { :class => '' } %>
                </td>
              </tr>
              <tr>
                <th>
                  <%= f.label :birthplace, 'Lugar de nacimiento' %>
                </th>
                <td>
                  <%= f.text_area :birthplace, :class => 'form-control' %>
                </td>
              </tr>
              <tr>
                <th>
                  <%= f.label :patient_type_id, 'Tipo de paciente' %>
                </th>
                <td>
                  <%= f.select :patient_type_id, options_for_select(@patient_types.collect { |type|
            [type.name.titleize, type.id] }, 1), {}, { id: 'patient_type_select', :class => 'form-control' } %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab_address_patient">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th width="200px">
                    <%= f.label :street, 'Calle' %>
                  </th>
                  <td>
                    <%= f.text_field :street, :class => 'form-control' %>
                  </td>
                </tr>
                <tr>
                  <th>
                    <%= f.label :number, 'Numero (Int. y Ext.)' %>
                  </th>
                  <td>
                    <%= f.text_field :number, :class => 'form-control' %>
                  </td>
                </tr>
                <tr>
                  <th>
                    <%= f.label :colony, 'Colonia' %>
                  </th>
                  <td>
                    <%= f.text_field :colony, :class => 'form-control' %>
                  </td>
                </tr>
                <tr>
                  <th>
                    <%= f.label :postal_code, 'Código postal' %>
                  </th>
                  <td>
                    <%= f.text_field :postal_code, :class => 'form-control' %>
                  </td>
                </tr>
                <!--<tr>
                  <th>
                    <%= f.label :country_id, 'Estado' %>
                  </th>
                  <td>
                    <%= f.select :country_id, options_for_select(@countries.collect{ |u| [u.name, u.id] }, @patient.country_id), {:include_blank => '--- Seleccionar ---'},{ id: 'country_id', :class => 'form-control' } %>
                  </td>
                </tr>

                <tr>
                  <th>
                    <%= f.label :city_id, 'Ciudad' %>
                  </th>
                  <td>
                    <%= f.select :city_id, options_for_select(@cities.collect{ |u| [u.name, u.id] }, @patient.city_id), {}, { id: 'citites_select', :class => 'form-control' } %>
                  </td>
                </tr>
                -->
              </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab_fiscal_address_patient">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th width="200px">
                    <%= f.label :fiscal_street, 'Calle' %>
                  </th>
                  <td>
                    <%= f.text_field :fiscal_street, :class => 'form-control' %>
                  </td>
                </tr>
                <tr>
                  <th>
                    <%= f.label :fiscal_number, 'Numero (Int. y Ext.)' %>
                  </th>
                  <td>
                    <%= f.text_field :fiscal_number, :class => 'form-control' %>
                  </td>
                </tr>
                <tr>
                  <th>
                    <%= f.label :fiscal_colony, 'Colonia' %>
                  </th>
                  <td>
                    <%= f.text_field :fiscal_colony, :class => 'form-control' %>
                  </td>
                </tr>
                <tr>
                  <th>
                    <%= f.label :fiscal_postal_code, 'Código postal' %>
                  </th>
                  <td>
                    <%= f.text_field :fiscal_postal_code, :class => 'form-control' %>
                  </td>
                </tr>
              </tbody>
            </table>
        </div>
        <% if @patient.id %>
        <div role="tabpanel" class="tab-pane" id="tab_tutors_patient">
          <div class="well">
          <div class="panel" align="right">
            <%= link_to ' Agregar nuevo tutor', new_tutor_path(:patient_id => @patient.id), :class => 'fa fa-plus' %>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <th>Nombre</th>
                <th>RFC</th>
                <th>Teléfono</th>
                <th>Teléfono celular</th>
                <th colspan="2"></th>
              </thead>
              <tbody>
              <% @tutors.each do |tutor| %>
                <tr>
                  <td>
                    <%= tutor.first_name %> <%= tutor.last_name %>
                  </td>
                  <td>
                    <%= tutor.rfc %>
                  </td>
                  <td>
                    <%= tutor.phone %>
                  </td>
                  <td>
                    <%= tutor.cell_phone %>
                  </td>
                  <td><%= link_to 'Editar', edit_tutor_path(tutor, :patient_id => @patient.id) %></td>
                  
                </tr>
              </tbody>
              <% end %>
            </table>
            <% if @tutors.empty? %>
              <i class="text-danger">Sin registo</i>
            <% end %>
          </div>
          </div>
        </div>
        <% end %>
        
        <% if @patient.id %>
          <div role="tabpanel" class="tab-pane" id="tab_medical_consultation_patient">
            <div class="well">
              <div class="panel" align="right">
              <%= link_to ' Nueva consulta medica ', new_medical_consultation_path(:patient_id => @patient.id), :class => 'fa fa-plus' %>
              </div>
              <table class="table table-bordered">
                <thead>
                  <th>Creado por</th>
                  <th width="200px">Fecha de la consulta</th>
                  <th colspan="3"></th>
                </thead>
                <tbody>
                  <% @medical_consultations.each do |medical_consultation| %>
                    <tr>
                      <td>
                        <% if medical_consultation.user %>
                          <%= medical_consultation.user.first_name %>
                          <%= medical_consultation.user.last_name %>
                        <% else %>
                          <i class="text-danger"> No disponible </i>
                        <% end %>
                      </td>
                      <td><%= medical_consultation.updated_at.strftime("%d/%m/%Y | %H:%M %p") %></td>
                      <td width="100px"><%= link_to 'Ver detalles', medical_consultation %></td>
                      <td width="50px"><%= link_to 'Editar', edit_medical_consultation_path(medical_consultation) %>
                      </td>
                      
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <% if @medical_consultations.empty? %>
                <i class="text-danger">Sin registo</i>
              <% end %>
            </div>
          </div>
          <% end %>
      </div>
    </div>
      <!---<div class="field">
        <%= f.label :user_id %><br>
        <%= f.text_field :user_id %>
      </div>-->
    </div>
    <div class="col-md-3">
      <div class="well mt40">
        <div class="actions">
          <button class="btn btn-success btn-block">
            <span class="fa fa-floppy-o"></span> Guardar cambios
          </button>
        </div>
      </div>
    </div>  
  </div>
</div>
  
<% end %>