<table class="table table-bordered">
	<thead>
		<th>Nombre completo</th>
		<th>Edad</th>
		<th>Tipo de paciente</th>
		<th width="100px">Acción</th>
	</thead>
	<tbody>
		<% @patients.each do |patient| %>
			<tr>
				<td><%= patient.full_name %></td>
				<td><%= patient.age() %></td>
				<td><%= patient.type() %></td>
				<td width="150px">
					<a href="#content-patient-data" class="patient-select-data-tabla btn btn-primary btn-sm" patient-full-name="<%= patient.full_name %>" patient-birth-date="<%= patient.birth_date %>" patient-birthplace="<%= patient.birthplace %>" patient-type="<%= patient.type() %>"
					patient-age="<%= patient.age() %>" patient-id="<%= patient.id %>">
						Seleccionar paciente
					</a>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<% if @patients.empty? %>
	<i class="text-danger">
	No se encontraron registros
	</i>
<% end %>