<div class="page-toolbar">
  <div class="page-toolbar-block">
    <h3 class="page-toolbar-title">Pacientes</h3>
    <div class="page-toolbar-subtitle">Registros de pacientes</div>
  </div>
  <div class="page-toolbar-block pull-right">
    <div class="widget-info">
      <div class="btn-group">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to ' Nuevo paciente ', new_patient_path, :class => 'text-success bg-gray-light fa fa-plus' %>
          </li>
          <li id="fat-menu" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Más acciones
              <span class="fa fa-caret-down"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="<%= patient_types_path() %>">Tipo de pacientes</a></li>
               <!--<li>
                <%= link_to 'Estados (Dirección)', countries_path, :class => 'text-success' %>
              </li>
              <li>
                <%= link_to 'Ciudades (Dirección)', cities_path, :class => 'text-success' %>
              </li>-->
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <ol class="breadcrumb">
      <li><a href="/">Inicio</a></li>
      <li class="active">Pacientes</li>
    </ol>
  </div>
  <div class="col-md-4">
    <form>
      <div class="input-group">
        <input type="text" name="search" value="<%= params['search'] %>" class="form-control" placeholder="Nombre completo">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Buscar">
        </span>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="block-data table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nombre completo</th>
            <th>Tipo de paciente</th>
            <th>Consulta medica</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @patients.each do |patient| %>
            <tr>
              <td width="400px"><%= patient.last_name %> <%= patient.first_name %></td>
              <td width="200px"><%= patient.patient_type != nil ? patient.patient_type.name : '' %></td>
              <td width="200px">
                <%= link_to ' Nueva consulta medica ', new_medical_consultation_path(:patient_id => patient.id), :class => 'text-success fa fa-plus' %>
              </td>
              <td width="100px">
                <%= link_to 'Ver detalles', patient, :class => '' %>
              </td>
              <td width="50px">
                <%= link_to 'Editar', edit_patient_path(patient),:class => '' %>
              </td>
              <td width="50px">
                <%= form_tag patient_path(patient), :class => 'form-delete-data', :method => :delete do %>
                  <a class="delete-data pointer text-danger"> Eliminar </a>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if @patients.empty? %>
        Aún no hay datos registrados
      <% else %>
        <%= will_paginate @patients %>
      <% end %>
    </div>
  </div>
</div>