<div class="page-toolbar">
  <div class="page-toolbar-block">
      <h3 class="page-toolbar-title">Paciente: <b> <%= @patient.full_name %></b></h3>
      <div class="page-toolbar-subtitle">Detalles del paciente</div>
  </div>
  <div class="page-toolbar-block pull-right">
      <div class="widget-info">
        <div class="btn-group">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to ' Nueva consulta medica ', new_medical_consultation_path(:patient_id => @patient.id), :class => 'fa fa-plus' %>
            </li>
            <li>
              <%= link_to ' Editar ', edit_patient_path(@patient), :class => 'bg-gray-light fa fa-pencil'  %>
            </li>
            <li>
              <%= link_to ' Regresar', patients_path, :class => 'fa fa-reply' %>
            </li>
          </ul>
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/">Inicio</a></li>
      <li class=""> <a href="/patients">Pacientes</a></li>
      <li class="active">Detalles del registro</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="block-data">
      <div class="table-responsive">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#tab_data_patient" aria-controls="tab_data_patient" role="tab" data-toggle="tab">
              <em class="fa fa-male"></em> Datos del paciente
            </a>
          </li>
          <li role="presentation">
            <a href="#tab_tutors_patient" aria-controls="tab_tutors_patient" role="tab" data-toggle="tab"> <em class="fa fa-user"></em> Tutores</a>
          </li>
          <li role="presentation">
            <a href="#tab_tutors_medical_consultations" aria-controls="tab_tutors_medical_consultations" role="tab" data-toggle="tab"> <em class="fa fa-stethoscope"></em> Consultas medicas</a>
          </li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tab_data_patient">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th width="200px">
                    Paciente:
                  </th>
                  <td>
                    <%= @patient.full_name %>
                  </td>
                </tr>
                <tr>
                  <th width="200px">
                    Genero:
                  </th>
                  <td>
                    <%= @patient.gender %>
                  </td>
                </tr>
                <tr>
                  <th>
                    Fecha de nacimiento:
                  </th>
                  <td>
                    <%= @patient.birth_date %>
                  </td>
                </tr>
                <tr>
                  <th>
                    Edad:
                  </th>
                  <td>
                    <%= @patient.age %>
                  </td>
                </tr>
                <tr>
                  <th>
                    Lugar de nacimiento:
                  </th>
                  <td>
                    <%= @patient.birthplace %>
                  </td>
                </tr>
                <tr>
                  <th>
                    Tipo de paciente:
                  </th>
                  <td>
                    <%= @patient.patient_type != nil ? @patient.patient_type.name : '' %>
                  </td>
                </tr>
              </tbody>
            </table>
            
            <table class="table table-bordered">
              <tbody>
                  <tr>
                    <th width="200px">
                      Dirección del paciente:
                    </th>
                    <td>
                      <%= @patient.street %>
                      <%= @patient.number %>
                      <%= @patient.colony %>
                      <%= @patient.postal_code %>
                    </td>
                  </tr>
              </tbody>
            </table>

            <table class="table table-bordered">
              <tbody>
                  <tr>
                    <th width="200px">
                      Dirección fiscal:
                    </th>
                    <td>
                      <%= @patient.fiscal_street %>
                      <%= @patient.fiscal_number %>
                      <%= @patient.fiscal_colony %>
                      <%= @patient.fiscal_postal_code %>
                    </td>
                  </tr>
              </tbody>
            </table>

          </div>
          <div role="tabpanel" class="tab-pane" id="tab_tutors_patient">
            <div class="well">
            <div class="panel" align="right">
              <%= link_to ' Agregar nuevo tutor', new_tutor_path(:patient_id => @patient.id), :class => 'fa fa-plus' %>
            </div>
            <table class="table table-bordered">
              <thead>
                <th>Nombre</th>
                <th>RFC</th>
                <th>Teléfono</th>
                <th>Teléfono celular</th>
                <th colspan="2"></th>
              </thead>
              <tbody>
              <% @tutors.each do |tutor| %>
                <tr>
                  <td>
                    <%= tutor.first_name %> <%= tutor.last_name %>
                  </td>
                  <td>
                    <%= tutor.rfc %>
                  </td>
                  <td>
                    <%= tutor.phone %>
                  </td>
                  <td>
                    <%= tutor.cell_phone %>
                  </td>
                  <td><%= link_to 'Editar', edit_tutor_path(tutor, :patient_id => @patient.id) %></td>
                  <td width="50px">
                    <%= form_tag tutor_path(tutor, :patient_id => @patient.id), :class => 'form-delete-data', :method => :delete do %>
                      <a class="delete-data pointer text-danger"> Eliminar </a>
                    <% end %>
                  </td>
                </tr>
              </tbody>
              <% end %>
            </table>
            <% if @tutors.empty? %>
              <i class="text-danger">Sin registo</i>
            <% end %>
          </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tab_tutors_medical_consultations">
            <div class="well">
              <div class="panel" align="right">
              <%= link_to ' Nueva consulta medica ', new_medical_consultation_path(:patient_id => @patient.id), :class => 'fa fa-plus' %>
              </div>
              <table class="table table-bordered">
                <thead>
                  <th>Creado por</th>
                  <th width="200px">Fecha de la consulta</th>
                  <th colspan="3"></th>
                </thead>
                <tbody>
                  <% @medical_consultations.each do |medical_consultation| %>
                    <tr>
                      <td>
                        <% if medical_consultation.user %>
                          <%= medical_consultation.user.first_name %>
                          <%= medical_consultation.user.last_name %>
                        <% else %>
                          <i class="text-danger"> No disponible </i>
                        <% end %>
                      </td>
                      <td><%= medical_consultation.updated_at.strftime("%d/%m/%Y | %H:%M %p") %></td>
                      <td width="100px"><%= link_to 'Ver detalles', medical_consultation %></td>
                      <td width="50px"><%= link_to 'Editar', edit_medical_consultation_path(medical_consultation) %>
                      </td>
                      <td width="50px">
                      <%= form_tag medical_consultation_path(medical_consultation), :class => 'form-delete-data', :method => :delete do %>
                        <a class="delete-data pointer text-danger"> Eliminar </a>
                      <% end %>
                    </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <% if @medical_consultations.empty? %>
                <i class="text-danger">Sin registo</i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

