<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name),:class => 'form-signin') do |f| %>
    <% if flash[:notice] %>
      <div class="alert alert-info">
        <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:error] %>
      <div class="alert alert-danger">
        <%= content_tag(:div, flash[:error], :id => "flash_notice") if flash[:error] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-warning">
        <%= content_tag(:div, flash[:alert], :id => "flash_notice") if flash[:alert] %>
      </div>
    <% end %>

    <h2 class="form-signin-heading">Iniciar sesión</h2>
    <hr />
    <div class="field">
      <%= f.label :email, 'Correo electrónico' %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
      </div>
    </div>

    <div class="field">
      <%= f.label :password, 'Contraseña' %>
      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
      </div>
    </div>

    <!--<% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>-->

    <div class="actions">
      <%= f.submit "Entrar", :class => 'btn btn-success' %>
    </div>
  <% end %>
  </div>
</div>

<!--<%= render "devise/shared/links" %>-->