<div class="page-toolbar">
    <div class="page-toolbar-block">
        <h3 class="page-toolbar-title">Direcciones</h3>
        <div class="page-toolbar-subtitle">Registros de direccionde de los pacientes</div>
    </div>
    
    <div class="page-toolbar-block pull-right">
        <div class="widget-info">
          <div class="btn-group">
            <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to 'Nuevo', new_address_path, :class => 'text-success' %>
            </li>
             <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Más acciones
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to 'Estados', countries_path, :class => 'text-success' %>
                </li>
                <li>
                  <%= link_to 'Ciudades', cities_path, :class => 'text-success' %>
                </li>
              </ul>
            </li>
          </ul>
          </div>
        </div>
    </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="block-data table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Dirección</th>
            <th>Ciudad y Estado</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @addresses.each do |address| %>
            <tr>
              <td><%= address.street %>
                  <%= address.number %>
                  <%= address.postal_code %>
              </td>
              <td><%= address.city %></td>
              <td width="100px"><%= link_to 'Ver detalles', address %></td>
              <td><%= link_to 'Editar', edit_address_path(address) %></td>
              <td><%= link_to 'Eliminar', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
