<%= form_for(@country) do |f| %>
  <% if @country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
      <% @country.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name , 'Nombre' %><br>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit 'Gurdar cambios', :class => 'btn btn-success' %>
  </div>
<% end %>
