
<div class="page-toolbar">
  <div class="page-toolbar-block">
      <h3 class="page-toolbar-title">Estados (Dirección)</h3>
      <div class="page-toolbar-subtitle">Registros de estados</div>
  </div>
  
  <div class="page-toolbar-block pull-right">
    <div class="widget-info">
      <div class="btn-group">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to 'Nuevo', new_country_path, :class => '' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/">Inicio</a></li>
      <li><a href="/patients">Pacientes</a></li>
      <li class="active">Estados</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="block-data table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @countries.each do |country| %>
            <tr>
              <td><%= country.name %></td>
              <td width="100px"><%= link_to 'Ver detalles', country %></td>
              <td width="50px"><%= link_to 'Editar', edit_country_path(country) %></td>
              <td width="50px"><%= link_to 'Eliminar', country, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if @countries.empty? %>
        Aún no hay datos registrados
      <% else %>
        <%= will_paginate @countries %>
      <% end %>
    </div>
  </div>
</div>