<div class="page-toolbar">
  <div class="page-toolbar-block">
      <h3 class="page-toolbar-title">Nuevo estado (Dirección)</h3>
      <div class="page-toolbar-subtitle">Nuevo registro de estado</div>
  </div>
  
  <div class="page-toolbar-block pull-right">
    <div class="widget-info">
      <div class="btn-group">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to 'Regresar', countries_path, :class => 'text-success' %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/">Inicio</a></li>
      <li><a href="/patients">Pacientes</a></li>
      <li><a href="/countries">Estados</a></li>
      <li class="active">Nuevo</li>
    </ol>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="block-data">
			<%= render 'form' %>
		</div>
	</div>
</div>