<div class="page-toolbar">
    <div class="page-toolbar-block">
        <h3 class="page-toolbar-title">Ciudades</h3>
        <div class="page-toolbar-subtitle">Registros de ciudades de las direcciones</div>
    </div>
    
    <div class="page-toolbar-block pull-right">
        <div class="widget-info">
          <div class="btn-group">
            <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to 'Nuevo', new_city_path, :class => 'text-success' %>
            </li>
          </ul>
          </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/">Inicio</a></li>
      <li><a href="/patients">Pacientes</a></li>
      <li class="active">Ciudades</li>
    </ol>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="block-data table-responsive">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Country</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @cities.each do |city| %>
            <tr>
              <td><%= city.name %></td>
              <td><%= city.country.name %></td>
              <td width="100px"><%= link_to 'Ver detalles', city, :class => '' %></td>
              <td width="50px"><%= link_to 'Editar', edit_city_path(city) %></td>
              <td width="50px"><%= link_to 'Eliminar', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% if @cities.empty? %>
        Aún no hay datos registrados
      <% else %>
        <%= will_paginate @cities %>
      <% end %>
    </div>
  </div>
</div>
