<div class="page-toolbar">
  	<div class="page-toolbar-block">
    	<h3 class="page-toolbar-title">Ciudad (Dirección): <%= @city.name %></h3>
      	<div class="page-toolbar-subtitle">Registro de ciudad</div>
  	</div>
  
  	<div class="page-toolbar-block pull-right">
      	<div class="widget-info">
        	<div class="btn-group">
          		<ul class="nav navbar-nav navbar-right">
          			<li>
          				<%= link_to 'Editar', edit_city_path(@city) %>
          			</li>
            		<li>
              		<%= link_to 'Regresar', cities_path, :class => 'text-success' %>
            		</li>
          		</ul>
        	</div>
      	</div>
  	</div>
</div>
<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li><a href="/">Inicio</a></li>
      <li><a href="/patients">Pacientes</a></li>
      <li><a href="/countries">Estados</a></li>
      <li class="active">Detalles del registro</li>
    </ol>
  </div>
</div>
<div class="row">
  	<div class="col-md-12">
    	<div class="block-data">
    		<div class="table-responsive">
		    	<table class="table table-bordered">
		        	<tbody>
			          	<tr>
			            	<th width="200px">
			              		Nombre:
			             	</th>
			            	<td>
			              		<%= @city.name %>
			            	</td>
			          	</tr>
			          	<tr>
			            	<th width="200px">
			              		Ciudad:
			             	</th>
			            	<td>
			              		<%= @city.country != nil ? @city.country.name : '' %>
			            	</td>
			          	</tr>
		        	</tbody>
		      	</table>
	  		</div>
 		</div>
	</div>
</div>