.alert {
	border-radius: 0px;
	margin-bottom: 0px;
	color: #fff;
	font-size: 16px;
}

.alert-success {
	background-color: #27AE60;
	border-color: #27AE60;
}

.alert-danger {
	background-color: #d14233;
	border-color: #d14233;
}

.alert-info {
  background-color: #3498DB;
  border-color: #3498DB;
}

.alert-danger {
  background-color: #d14233;
  border-color: #d14233;
}

.alert-warning {
  background-color: #F39C12;
  border-color: #F39C12;
}