body {
	font-size: 14px;
	background: #f5f5f5;
}

a {
	color: #2980B9;
}

h2, h3, h4 {
	margin-top: 0px;
	color: #2980B9;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.title-modulo {
	padding-top: 5px;
}

.container-data {
	max-width: none !important;
	width: auto;
	overflow: hidden;
	padding: 0px;
	padding-bottom: 10px;
}

.main .row {
	margin-left: 0px;
	margin-right: 0px;
}

.main .row .row {
	margin-left: -15px;
	margin-right: -15px;
}

.block-data {
	/*padding: 10px;
	background: #ffffff;
	border: 1px solid #e5e5e5;*/
	margin-bottom: 20px
}

/* Toolstip */

.tooltip-inner {
	background-color: #E74C3C;
	border-radius: 2px;
	font-size: 14px;
}

.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #E74C3C;
}

.tooltip.top .tooltip-arrow {
	border-top-color: #E74C3C;
}

.tooltip.right .tooltip-arrow {
	border-right-color: #E74C3C;
}

.tooltip.left .tooltip-arrow {
	border-left-color: #E74C3C;
}

.pointer {
	cursor: pointer;
}

strong {
	font-weight: bold !important;
}

label.error {
	color: #ec2121;;
}

.fa {
	font-weight: bold;
}

.table {
	background-color: #fff;
}

.well {
	background-color: #ffffff;
}


.mt40 {
	margin-top: 40px;
}

.text-success {
	color: #2980B9;
	font-weight: bold;
}

.mt5 {
	margin-top: 5px;
}

.mt10 {
	margin-top: 10px;
}

.mb0 {
	margin-bottom: 0px;
}

.nav-tabs>li>a {
	border-radius: 0px;
	margin-right: -1px !important;
}

.input-group .form-control {
	padding: 6px 12px;
}

.input-group .form-control {
	font-size: 14px;
}

.panel {
	margin-bottom: 15px;
}

/* Texteditor */

.note-editor.note-frame .note-editing-area .note-editable {
	height: 250px;
}