.btn-success {
	background-color: #4bc970;
	border: 1px solid #4bc970;
}

.btn-primary {
	background-color: #5d9cec;
	border: 1px solid #5d9cec;
}

.btn-danger {
	background-color: #ec2121;
}

.btn-lg, .btn-group-lg>.btn {
	font-size: 14px;
}

.btn {
	border-radius: 0px;
}