.navbar-inverse {
	background-color: #2980B9;
	border-color: #2980B9;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{
	color: #ffffff;
}

.nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
	background-color: initial;
	color: #2980B9;
	font-weight: bold;
}

.nav-sidebar > li > a {
	color: #777777;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
	background-color: #4394A3;
}

.navbar-inverse .navbar-link{
	color: #777777;
	border-bottom: 1px solid #ccc;
}

.navbar-nav>li>.dropdown-menu {
	padding: 0px;
}

.dropdown-menu>li>a{
	padding: 10px 20px;
}

.navbar-inverse .navbar-link:hover {
	color: #555555;
}

.navbar-right {
	margin-right: 0px;
}