.main .page-toolbar {
	width: 100%;
	float: left;
	padding: 0px;
	background: #ffffff;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 10px;
}

.main .page-toolbar .page-toolbar-block {
	float: left;
	margin: 20px;
}

.widget-info {
	margin-top: 10px;
}