.panel-heading h4 {
	margin-bottom: 0px;
}

.widget .panel, .widget.panel {
  overflow: hidden;
}
.bg-primary {
  background-color: #5d9cec;
  color: #fff!important;
}
.widget {
  margin-bottom: 20px;
  border: 0;
}

.text-danger {
  color: #d14233;
}

.row-table {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
}

.row-table>[class*=col-] {
  display: table-cell;
  float: none;
  table-layout: fixed;
  vertical-align: middle;
}

.bg-primary-dark {
  background-color: #287bbc;
  color: #fff!important;
}

.bg-green-dark {
  background-color: #2b957a;
  color: #fff!important;
}

.bg-purple-dark {
  background-color: #564aa3;
  color: #fff!important;
}

.bg-danger-dark {
  background-color: #ec2121;
  color: #fff!important;
}

.bg-warning-dark {
  background-color: #f77600;
  color: #fff!important;
}

.bg-warning {
  background-color: #ff902b;
  color: #fff!important;
}

.bg-danger {
  background-color: #f05050;
  color: #fff!important;
}

.pv-lg {
  padding-top: 15px!important;
  padding-bottom: 15px!important;
}

.text-uppercase {
text-transform: uppercase;
}

.bg-purple {
  background-color: #7266ba;
  color: #fff!important;
}

.bg-green {
background-color: #37bc9b;
color: #fff!important;
}

.fa-big {
	font-size: 42px;
}

.m0{
	margin: 0px;
}

.fa {
	font-weight: 100;
}

.bg-gray-light {
	background-color: #eee;
}

label {
	color: #555;
}

.nav-sidebar > li > a {
	font-size: 16px;
}

.form-control {
	height:auto;
	padding: 8px 12px;
	font-size: 16px;
  border-radius: 1px;
}

select.form-control {
  padding: 9px 12px;
}