.table {
	margin-bottom: 10px;
}

.table tbody tr th {
	text-align: right;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	vertical-align: middle;
	color: #555;
}

.table th label {
	margin-bottom: 0px;
}

.table td h4, .table th h4 {
	margin-bottom: 0px;
}

.table thead th {
	background-color: #eeeeee;
}