.nav-tabs-style {
	margin-bottom: 20px;
}

	.nav-tabs-style > .nav-tabs>li>a {
		
	}

.tab-content-style {
	padding: 20px;
	border: 1px solid #e5e5e5;
	background-color: #fff;
	margin-bottom: 20px;
}

.nav-tabs>li>a {
	margin-right: 0px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	border-right:1px solid #ddd;
	border-left: 1px solid #ddd;
	background-color: #fff;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	background-color: #2980B9;
	color: #fff;
}

.nav-tabs-display-block li {
	float: none;
}