<!DOCTYPE html>
<html>
<head>
  <title>MedlogCenter</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/png" href="/favicon.png" />

  <link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <title>Dashboard</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MedLog Center</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
            	<% if user_signed_in? %>
            		<a><strong class="fa fa-user"> Usuario:</strong> <%= current_user.first_name %> <%= current_user.last_name %></a>
            	<% end %>
            </li>
            <li id="fat-menu" class="dropdown">
              <a id="drop3" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                Configuración
                <span class="fa fa-cog"></span>
              </a>
              <% if user_signed_in? %>
              <ul class="dropdown-menu" aria-labelledby="drop3">
                <li>
                	<%= link_to " Perfil ", user_profile_path(), :class => '' %>
                </li>
                <li>
                	<%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, :class => ''  %>
                </li>
              </ul>
              <% end %>
            </li>
          </ul>
          <form class="navbar-form navbar-right">
            <!--<input type="text" class="form-control" placeholder="Search...">-->
          </form>
        </div>
      </div>
    </nav>

	<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="<%= active_option_nav('welcome') %>">
              <a href="/"> <em class="fa fa-home"></em> Inicio</a>
            </li>
            <li class="<%= active_option_nav('patients') %>">
              <a href="<%= patients_path%>"> <em class="fa fa-male"></em> Pacientes</a>
            </li>
            <li class="<%= active_option_nav('medical_consultations') %>">
              <a href="<%= medical_consultations_path%>"> <em class="fa fa-stethoscope"></em> Consultas medicas</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        	<% if notice %>
    			  <p class="alert alert-success"><%= notice %></p>
    			<% end %>
    			<% if alert %>
    			  <p class="alert alert-danger"><%= alert %></p>
    			<% end %>
        	<%= yield %>
        </div>
      </div>
    </div>
    
  
  </body>
</html>
